/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/resources/assets
*.sql
package.json
package-lock.json
eel.bat
eelp.bat
optimize.bat
prod.bat